html, body{
  padding: 0;
  margin: 0;
  background: #ddd;
  color: #666;
  font-family: Helvetica Neue, Helvetica, Arial;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

a{
  cursor: pointer;
  color: inherit;
}

.main_container{
  display: inline-block;
  width: 100%;
  max-width: calc(100% - 20px);
  min-height: 100px;
  padding-bottom: 35px;
  text-align: left;
  margin: 10px;
  margin-bottom: 15px;
}

.last_modified_files{
  display: inline-block;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 7.5px;
  content: ' ';
  height: 17px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
